{% if product.metafields.custom.allergens.value != ""  %}<h3>Allergens</h3>
{% if product.metafields.custom.allergens.value contains "egg"  %}
 <img height="80" class="new-item-banner" src="https://gitlab.com/sohnemann/shopify-assets/-/raw/main/allergens/eggs.svg" />
{% endif %}

{% if product.metafields.custom.allergens.value contains "peanuts"  %}
 <img height="80" class="new-item-banner" src="https://gitlab.com/sohnemann/shopify-assets/-/raw/main/allergens/peanuts.svg" />
{% endif %}

{% if product.metafields.custom.allergens.value contains "fish"  %}
 <img height="80" class="new-item-banner" src="https://gitlab.com/sohnemann/shopify-assets/-/raw/main/allergens/fish.svg" />
{% endif %}

{% if product.metafields.custom.allergens.value contains "gluten"  %}
 <img height="80" class="new-item-banner" src="https://gitlab.com/sohnemann/shopify-assets/-/raw/main/allergens/gluten.svg" />
{% endif %}

{% if product.metafields.custom.allergens.value contains "dairy"  %}
 <img height="80" class="new-item-banner" src="https://gitlab.com/sohnemann/shopify-assets/-/raw/main/allergens/dairy.svg" />
{% endif %}

{% if product.metafields.custom.allergens.value contains "sesame"  %}
 <img height="80" class="new-item-banner" src="https://gitlab.com/sohnemann/shopify-assets/-/raw/main/allergens/sesame.svg" />
{% endif %}

{% if product.metafields.custom.allergens.value contains "soy"  %}
 <img height="80" class="new-item-banner" src="https://gitlab.com/sohnemann/shopify-assets/-/raw/main/allergens/soy.svg" />
{% endif %}

{% if product.metafields.custom.allergens.value contains "celery"  %}
 <img height="80" class="new-item-banner" src="https://gitlab.com/sohnemann/shopify-assets/-/raw/main/allergens/celery.svg" />
{% endif %}

{% if product.metafields.custom.allergens.value contains "mustard"  %}
 <img height="80" class="new-item-banner" src="https://gitlab.com/sohnemann/shopify-assets/-/raw/main/allergens/mustard.svg" />
{% endif %}

{% if product.metafields.custom.allergens.value contains "treenuts"  %}
 <img height="80" class="new-item-banner" src="https://gitlab.com/sohnemann/shopify-assets/-/raw/main/allergens/treenuts.svg" />
{% endif %}

<!-- WIP 
{% if product.metafields.custom.allergens.value contains "sulphites"  %}
 <img height="80" class="new-item-banner" src="" />
{% endif %}

{% if product.metafields.custom.allergens.value contains "mushroom"  %}
 <img height="80" class="new-item-banner" src="" />
{% endif %}

{% if product.metafields.custom.allergens.value contains "corn"  %}
 <img height="80" class="new-item-banner" src="" />
{% endif %}

{% if product.metafields.custom.allergens.value contains "lupine"  %}
 <img height="80" class="new-item-banner" src="" />
{% endif %} -->

{% endif %}